@font-face {
    font-family:"Capuche" ;
    src: url("./fonts/Capuche\ Trial.otf");
    font-family: 'Source Serif Pro', serif;
}

h1{
    font-family: "Capuche";
}

h2{
    font-family: 'Source Serif Pro', serif;
    font-weight: 700;
    font-size: medium;

}
h4{
    font-family: 'Source Serif Pro', serif;
    font-weight: 700;
}

h6{
    color:#ea4760;
}

em{
    color: white;
}
a{
    font-weight: 900;
    color: #ea4760;
    padding-bottom: 150px;
    font-family: 'Source Serif Pro', serif;
    text-decoration: none;
}
a:hover{
    color: #eeba3f;
    transform: scale(1.2);

}
.main{
    background: linear-gradient(rgb(220,196,36), rgb(228,88,112),rgb(63,187,186),rgb(149,184,66) );
    height: 15%;
    /* background-size: contain; */
    /* height: 400vh;
    width: 100%; */
    /* height: 5%; */
    width: 100%;
    position: relative;
    
}
#here:hover{
    transform: scale(1.04);
}
#date{
    color: 
    #eeba3f;
    font-weight: 700;
    padding: 50px;
}
#time{
    padding-left: 150px;
    padding-right: 150px;
    font-weight: 900;
    color: white;
}

*{
    padding: 0;
    margin: 0;
}
@media screen and (max-width: 500px){
    #date{
        padding:10px;
    }
    #time{
        padding: 0px 10px 0px 10px;
    }
}
#info{
    font-weight: 900;
    color: #ea4760;
    padding-bottom: 150px;
    font-family: 'Source Serif Pro', serif;
}
#info:hover{
    transform: scale(1.02);
}
#ressy{
    font-weight: 100;
    color: white;
    padding-bottom: 20px;
}
#order{
    color: 
    #ea4760;
    /* font-size: 100px; */
}
 .location-container{
    background: linear-gradient(rgb(227,26,90),rgb(237,71,87), rgb(189,39,78) );
    
    /* height: 400vh;
    width: 100%; */
    height: 100%;
    width: 100%;
    position: relative;

}


.text-container{
   padding-top: 5%;
}

.spacer{
    aspect-ratio: 900/300;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


.spacer2{
    aspect-ratio: 900/300;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#blenny{
    font-family: blenny, sans-serif !important;
font-style: normal;
font-weight: 900;
}

.layer1{
    background-image: url("./images/layered-waves-haikei\ \(11\).svg");
    /* background-image: url("./images/layered-waves-haikei\ \(7\).svg"); */

}

.layer2{
    background-image: url("./images/layered-waves-haikei\ \(12\).svg")
}

.layer3{
    background-image: url("./images/layered-waves-haikei\ \(6\).svg");
}
.layer4{
    background-image: url("./images/layered-waves-haikei\ \(10\).svg");
}
.order{
        /* height: 400vh;
    width: 100%; */
    height: 100%;
    width: 100%;
    position: relative;
    background: linear-gradient(rgb(142,190,63), rgb(85,190,110), rgb(35,157,195),rgb(114,185,122));


}

.form-for-wedding{
    height: 100%;
    width: 100%;
    position: relative;
    background: linear-gradient(rgb(207,99,114), rgb(238,186,29), rgb(240,156,91), rgb(239,127,122), rgb(239,157,90)  );
}

#form{
    margin: 0 auto;
    width: 50%;
}

#name-input{
    font-family: blenny, sans-serif;

font-weight: 900;

font-style: normal;
    height: 50px;
    border-radius: 25px;
    font-family: 'Source Serif Pro', serif;
}

#email-input{
    font-family: blenny, sans-serif;

font-weight: 900;

font-style: normal;
    height: 50px;
    border-radius: 25px;
    font-family: 'Source Serif Pro', serif;

}
#make-it{
    font-family: blenny, sans-serif;

font-weight: 900;

font-style: normal;
}
#rsvp{
    color: 
    #bb2590;
    font-weight: bold;
}

#fill-the-form{
    color: white;
    font-weight: bold;
    font-family: 'Source Serif Pro', serif;
}

#attending-input{
    height: 50px;
    border-radius: 25px;
    font-family: 'Source Serif Pro', serif;
}

#send-button{
    font-family: 'Source Serif Pro', serif;
    font-weight:bold;
    font-size: 20px;
    width: 100px;
    height: 50px;
    border-radius: 50px;
    background-color: white;
    color:#d577ba;
    border-color: white;
}

#send-button:hover{
    transform: translateY(-3px) scale(1.02);

}

.registry{
    height: 100%;
    width: 100%;
    position: relative;
    background: linear-gradient(rgb(193,41,143), rgb(152,67,153), rgb(169,102,170),rgb(172,50,144) );
}
#registry-color{
    color:
    #41bbb9;
    font-weight: bold;
    padding-top: 115px;
}

#registry-link{
    color: white;
    font-weight: bold;
}

#click-here:hover{
    cursor: pointer;
}

#rsvp-link{
    color: #bb2590;
}
#rsvp-link:hover {
    color: rgb(237,71,87) !important;
}

#reg{
    color:  #41bbb9 !important;
}
#reg:hover{
    color: rgb(238,186,29) !important;
}